.imag{
   background-image: url('plage.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid ;
   flex-direction: column;
   color: white;

}
.boutons{
    display: flex;
    gap: 20px;
}
.titre{
    margin: 60px auto;
    align-items: center;
    justify-content:center ;
    text-align: center;
}

